<configuration>
  <components>
		<component id="CommerceConfigurationProvider"
		service="UCommerce.Infrastructure.Configuration.CommerceConfigurationProvider, UCommerce.Infrastructure"
		type="MyUCommerceApp.BusinessLogic.Integration.InMemoryCommerceConfigurationProvider, MyUCommerceApp.BusinessLogic">
			<parameters>
				<connectionString>server=.\MSSQL_2016;database=uCommerce;user id=sa;password='q1w2e3r4'</connectionString>
			</parameters>
		</component>
	</components>
</configuration>