<configuration>
  <components>
    <component
      id="ToCompletedOreder.ExportToErpSystem"
      service="UCommerce.Pipelines.IPipelineTask`1[[UCommerce.EntitiesV2.PurchaseOrder, UCommerce]], UCommerce.Pipelines"
      type="MyUCommerceApp.BusinessLogic.Pipelines.ExportOrderToErpSystemTask, MyUCommerceApp.BusinessLogic"
      />
    <partial-component id="ToCompletedOrder">
      <parameters>
        <task>
          <array>
            <value insert="last">${ToCompletedOreder.ExportToErpSystem}</value>
          </array>
        </task>
      </parameters>
    </partial-component>  
    </components>
</configuration>
<!--service="UCommerce.Pipelines.IPipelineTask`2[[],[]]"-->