<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <components>
    <component
      id="CatalogContext"
      service="UCommerce.Runtime.ICatalogContext, UCommerce"
      type="MyUCommerceApp.BusinessLogic.SiteContext.ExtendedCatalogContext, MyUCommerceApp.BusinessLogic"
      />
  </components>
</configuration>
